.black-background {
    -fx-background-color: black;
}

.red-text {
    -fx-text-fill: red;
}
.fontSize-text {
    -fx-font-size: 20;
}

.play-button {
    -fx-background-color: black; /* Cambia el color de fondo a rojo */
    -fx-text-fill: #FF0000; /* Cambia el color del texto a blanco */
}

/*.hbox-black-background {
    -fx-background-color: black;
}
.vbox-black-background {
    -fx-background-color: black;

}*/
